<!-- <div class="imageBack">

    <div style="text-align:center;color:rgb(110, 199, 62)">
        <h1>HIMANSHU BHUTANI</h1>

        <p>Hello! I am a Delhi-based freelancer.</p>
    </div>

    <div class="row display-flex flex-row">
        <button class="col-md-3 btn marginA">Home</button>
        <button class="col-md-3 btn marginB">Projects</button>
        <button class="col-md-3 btn marginB">Skills</button>
        <button class="col-md-3 btn marginB">Contact</button>
    </div>

</div>     -->
