<div class="freshBackground" id="background">

    <!-- <div class="stickyy">
        hnjh
    </div> -->

    <div class="navigation">
        <!-- <div class="left">
            <i class="fa fa-arrows-alt"></i><span style="margin-left:7px;">P O R T F O L I O</span>
        </div>
        <div class="middle">
            <button class="home" style="color:white" (click)="homes()">H O M E</button>
            <button class="home" style="color:white" (click)="abouts()">A B O U T</button>
            <button class="home" style="color:white" (click)="servicess()">S E R V I C E S</button>
            <button class="home" style="color:white" (click)="contacts()">C O N T A C T</button> -->
            <!-- <a href="C:\Users\himanshu bhutani\Desktop\Portfolio\src\app" download="Himanshu_CV">Download</a> -->
        <!-- </div>
        <div class="right">
            <a href="https://www.linkedin.com/home?originalSubdomain=in" class="fa fa-linkedin"></a>
            <a href="https://www.instagram.com/accounts/login/" class="fa fa-instagram"></a>
        </div> -->

        <div class="row">
            <div class="col-md-3 left">
                <i class="fa fa-arrows-alt"></i><span style="margin-left:7px;">P O R T F O L I O</span>
                <!-- <i class="fa fa-bars"></i> -->
                <i class="fa fa-bars navBar" *ngIf="!navVisible" (click)="navOpen()"></i>
                <i class="fa-regular fa-circle-xmark" *ngIf="navVisible"></i>
                <span class="navBar minimize" *ngIf="navVisible" (click)="navClose()">x</span>
                <i class="fa-regular fa-circle-xmark" *ngIf="navVisible"></i>
                <i class="fa-duotone fa-circle-xmark"></i>
            </div>
            <div class="col-md-7 middle">
                <button class="home" style="color:white" (click)="homes()" hover>H O M E</button>
                <button class="home" style="color:white" (click)="abouts()">A B O U T</button>
                <button class="home" style="color:white" (click)="servicess()">S E R V I C E S</button>
                <button class="home" style="color:white" (click)="contacts()">C O N T A C T</button>
            </div>
            <div class="col-md-2 right">
                <a href="https://www.linkedin.com/home?originalSubdomain=in" class="fa fa-linkedin"></a>
                <a href="https://www.instagram.com/accounts/login/" class="fa fa-instagram"></a>
            </div>
        </div>

    </div>

    <div class="navOpen" *ngIf="navVisible">
        <div class="homeNav">
            <span class="home" style="color:white;cursor: pointer;" (click)="homesNav()">H O M E</span>
        </div>
        <div class="homeNav">
            <span class="home" style="color:white;cursor: pointer;" (click)="aboutsNav()">A B O U T</span>
        </div>
        <div class="homeNav">
            <span class="home" style="color:white;cursor: pointer;" (click)="servicessNav()">S E R V I C E S</span>
        </div>
        <div class="homeNav">
            <span class="home" style="color:white;cursor: pointer;" (click)="contactsNav()">C O N T A C T</span>
        </div>
    </div>

    <div class="content" *ngIf="!navVisible">
        <div class="row hey" *ngIf="home" id="home">
            <div class="col-md-5">
                <h1 class="">
                    Hey!
                </h1>
                <h1>
                    I am <h1 style="color:white">Himanshu.</h1>
                </h1>
                <h2>
                    I'm a <p style="color:white;display: inline;">Web Developer.</p>
                </h2>
            </div>
            <div class="col-md-4">
                <img class="imageHim" src="assets/Passport.jpg" height="210" width="150" alt="Photo">
                <!-- <img src="https://www.tutorialspoint.com/static/images/logo-color-footer.png" alt="Photo"> -->
                <!-- <img class="imageHimanshu" src="assets/Passport.jpg" alt="Photo"> -->
            </div>
        </div>

        <div *ngIf="about" id="about">
                <div class="about hey">
                    <h2 style="color:white;">
                        About Me
                    </h2>
                    <p>I am a Delhi based web-developer. I develop using Angular Framework and use Bootstrap, CSS to make them responsive.</p>
                    <div class="row">
                        <div class="col-md-3" style="color:white;font-weight:bold;">
                            Name :
                        </div>
                        <div class="col-md-3">
                            Himanshu Bhutani
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3" style="color:white;font-weight:bold;">
                            Date of birth :
                        </div>
                        <div class="col-md-3">
                            07 OCTOBER 1996
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3" style="color:white;font-weight:bold;">
                            Address :
                        </div>
                        <div class="col-md-3">
                            Delhi
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3" style="color:white;font-weight:bold;">
                            Email Id :
                        </div>
                        <div class="col-md-3">
                            himanshu.bhutani7@gmail.com
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3" style="color:white;font-weight:bold;">
                            Phone Number :
                        </div>
                        <div class="col-md-3">
                            9868319966
                        </div>
                    </div>
                    
                </div>

                <div class="experience">
                    <h2 style="color:white;">
                        Experience
                    </h2>
                    <ul>
                        <li style="font-weight:300">
                            Infosys (Aug'2019-May'2022 ~ 2 YEARS 9 MONTHS)
                            <div style="color:white">
                                Worked as a frontend developer in Angular Technology. Contributed to developing new generation Income Tax Website of India.
                                Responsible for creating various statutory forms like Form 35, Form 6, Form 3CEAA etc.
                            </div> 
                        </li>

                        <li style="font-weight:300;margin-top: 20px;">
                            Cognizant (May'2022-Present)
                            <div style="color:white">
                                Working as a fullstack developer.
                            </div> 
                        </li>

                        <!-- <li style="font-weight:300;margin-top: 20px;">
                            LEUFTechnologies (2017 ~ 2 MONTHS) - INTERNSHIP
                            <div style="color:white">
                                Worked as a frontend developer in Angular Technology. Contributed to developing new generation Income Tax Website of India.
                                Responsible for creating various statutory forms like Form 35, Form 6, Form 3CEAA etc.
                            </div> 
                        </li>
                        <li style="font-weight:300;margin-top: 20px;">
                            Austere Technology (2018 ~ 2 MONTHS) - INTERNSHIP
                            <div style="color:white">
                                Worked as a frontend developer in Angular Technology. Contributed to developing new generation Income Tax Website of India.
                                Responsible for creating various statutory forms like Form 35, Form 6, Form 3CEAA etc.
                            </div> 
                        </li> -->
                    </ul>
                </div>

                <div class="certifications">

                    <h2 class="certificate">Certifications</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-card class="certificateCard">
                                <mat-card-title style="text-align:center;color:black;font-weight:bold;">
                                    <div>Infosys Certified Angular Developer</div>
                                    _____________________
                                    <div [ngClass]="{'spinner-border':yesOrNo==2?true:false}" role="status">
                                        <!-- <span class="sr-only">Loading...</span> -->
                                    </div>
                                </mat-card-title>
                                <mat-card-content style="margin-top:20px;color: black;text-align: center;">
                                    Infosys Trained Java Full Stack Developer - 2019
                                </mat-card-content>
                            </mat-card>
                        </div>

                        <div class="col-md-6">
                            <mat-card class="certificateCard">
                                <mat-card-title style="text-align:center;color:black;font-weight:bold">
                                    <div>Core Java Developer</div>
                                    _____________
                                    <!-- <div [ngClass]="{'spinner-border':yesOrNo==2?true:false}" role="status"> -->
                                        <!-- <span class="sr-only">Loading...</span> -->
                                    <!-- </div> -->
                                </mat-card-title>
                                <mat-card-content style="margin-top:20px;color: black;text-align: center;">
                                    NIIT Certified Java Developer - 2016
                                </mat-card-content>
                            </mat-card>
                        </div>

                    </div>

                </div>

        </div>
        

        <div class="services hey" *ngIf="services" id="services">
            <h2 style="color:white;">
                    Services
            </h2>
            <div class="row">
                <div class="col-md-6">
                    <mat-card class="serviceCard">
                        <mat-card-title style="text-align:center;color:black;font-weight:bold;">
                            <div>Website Responsiveness</div>
                            _____________________
                            <div [ngClass]="{'spinner-border':yesOrNo==2?true:false}" role="status">
                                <!-- <span class="sr-only">Loading...</span> -->
                              </div>
                        </mat-card-title>
                        <mat-card-content style="margin-top:20px;color: black;text-align: center;">
                            I design websites which can be used on both desktops and mobile devices because of their responsiveness.
                            If any concern, please write to me at my email.
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="col-md-6">
                    <mat-card class="serviceCard">
                        <mat-card-title style="text-align:center;color:black;font-weight:bold">
                            <div>Interactive User Interface</div>
                            _____________________
                            <div [ngClass]="{'spinner-border':yesOrNo==2?true:false}" role="status">
                                <!-- <span class="sr-only">Loading...</span> -->
                              </div>
                        </mat-card-title>
                        <mat-card-content style="margin-top:20px;color: black;text-align: center;">
                            The site functionalities would be user friendly so as to make user take full advantage of it.
                        </mat-card-content>
                    </mat-card>
                </div>

            </div>
            
        </div>

        <div class="contact hey" *ngIf="contact" id="contact">
            <h2 style="color:white;">
                Contact
            </h2>
            <div style="color:white">
                Mobile : <span style="color: yellow">9868319966</span> 
            </div> 
            <div style="color:white">
                Email ID : <span style="color: yellow">himanshu.bhutani7@gmail.com</span> 
            </div>
        </div>

        
        
    </div>

    <!-- <button class="show btn" *ngIf="!navVisible" (click)="showAll()" [disabled]="home && about && services && contact">
        SHOW ALL
    </button> -->

</div>
